#chatbox {
    position: relative;
    display: inline-block;
    float: left;
    background: #ccc;
    width: 200px;
    height: 500px;
    word-wrap: break-word;
}

#inputbox {
    margin-top: 4px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#guessinput {
    padding: 2px;
    outline: none;
    border: solid #ccc 2px;
    border-radius: 5px;
    width:94%;
    box-sizing: border-box;
    margin:3%;
}

#messagebox {
    overflow-y: scroll;
    height: 90%;
    margin: 4px;
}

#guessinput:focus {
    border-color: #6666ff;
}
