canvas {
    border: solid black 2px;
}

#drawbox {
    display:inline-block;
    float:left;
}

#drawbox input {
    outline: none;
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px;
}

#chatbox {
    position: fixed;
    top: 1em;
    right: 1em;
    float: right;
    background: #ccc;
    width: 350px;
    height: calc(100% - 2em);
    word-wrap: break-word;
}

#inputbox {
    margin-top: 4px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#guessinput {
    padding: 2px;
    outline: none;
    border: solid #666 2px;
    border-radius: 5px;
    width:94%;
    height: 25px;
    box-sizing: border-box;
    margin:3%;
}

#messagebox {
    overflow-y: scroll;
    height: calc(100% - 40px - 1em);
    margin: 4px;
}

#guessinput:focus {
    border-color: #6666ff;
}
