
body {
    background-image: url("img/background.png");
}

.error-message {
    display: inline-block;
    background: #ffcccc;
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px;
}
.success-message {
    display: inline-block;
    background: #ccffcc;
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px;
}

#entergamebox {
    width: 100%;
    height: 100%;
    text-align: center;
}

.mylabel {
    color: white;
}
.myinput {
    outline: none;
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px;
}
#nameinput {
    margin-top: 50px;
}
#enterguestbutton {
    background: #44ff44;
}
#gotologinbutton {
    background: #4444ff;
}
#gotoregisterbutton {
    background: #ffff44;
}
#loginbutton {
    background: #44ff44;
}
.mybutton {
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    outline: none;
    border: solid black 2px;
    border-radius: 4px;
}

#word {
    font-family: "Courier New";
    margin-bottom: 5px;
}
canvas {
    border: solid black 2px;
    border-radius: 4px;
}

#drawbox {
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px;
    margin-left: 5px;
    background: #ccffcc;
    display:inline-block;
    float:left;
}

#userbox {
    width: 200px;
    display: inline-block;
    float: left;
}

.user {
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    background: #ccccff;
}

.imgbutton {
    outline: none;
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px;
    background: white;
}
.imgbutton:hover {
    background: #ccffff;
}

.colorbutton {
    cursor: pointer;
    outline: none;
    border: solid black 2px;
    border-radius: 4px;
    background: white;
    width: 32px;
    height: 32px;
}
.colorbutton:hover {
    border-color: #00cccc;
}

.colorcontainer {
    display: inline-flex;
    width: 46px;
    height: 46px;
    align-items: center;
    justify-content: center;
}

#chatbox {
    border: solid black 2px;
    border-radius: 4px;
    position: fixed;
    top: 1em;
    right: 1em;
    float: right;
    background: #ccc;
    width: 350px;
    height: calc(100% - 2em);
    word-wrap: break-word;
}

#inputbox {
    margin-top: 4px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#guessinput {
    padding: 2px;
    outline: none;
    border: solid #666 2px;
    border-radius: 5px;
    width:94%;
    height: 25px;
    box-sizing: border-box;
    margin:3%;
}

#messagebox {
    overflow-y: scroll;
    height: calc(100% - 40px - 1em);
    margin: 5px;
}

#guessinput:focus {
    border-color: #6666ff;
}
