<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="client/style.css">
    <link rel="shortcut icon" href="client/favicon.png" />
</head>
<body>
    {{{body}}}
</body>
</html>
