<div id="entergamebox">
    <form class="entergameform" method="post" action="/">

        <input class="myinput" id="nameinput" type="text" maxlength="15" placeholder="Name" name="name"/>
        <input class="mybutton" id="enterguestbutton" type="submit" value="Enter"/><br>
    </form>

    {{#if user}}
        <a href="/logout">
            <input class="mybutton" id="gotologoutbutton" type="button" value="Logout"/>
        </a>
        <a href="/profile">
            <input class="mybutton" id="gotoprofilebutton" type="button" value="Profile"/>
        </a>
    {{else}}
        <a href="/login">
            <input class="mybutton" id="gotologinbutton" type="button" value="Login"/>
        </a>
        <a href="/register">
            <input class="mybutton" id="gotoregisterbutton" type="button" value="Register"/>
        </a>
    {{/if}}
</div>
