<div id="gamecontentbox" style="display:none;">
    <div id="userbox"></div>

    <div id="drawbox">
        <b><center id="word"></center></b>
        <canvas id="c" width="450" height="450"></canvas><br>
        <div id="toolbox" style="display:none;">
            <input class="imgbutton" type="image" src="client/img/pencil.png" width="32" height="32"/>
            <input class="imgbutton" type="image" src="client/img/eraser.png" width="32" height="32"/>
            <input class="imgbutton" id="thickness1" type="image" src="client/img/thickness1.png" width="32" height="32"/>
            <input class="imgbutton" id="thickness2" type="image" src="client/img/thickness2.png" width="32" height="32"/>
            <input class="imgbutton" id="thickness3" type="image" src="client/img/thickness3.png" width="32" height="32"/>
            <input class="imgbutton" id="trashbutton" type="image" src="client/img/trash.png" width="32" height="32"/>
            <input class="imgbutton" id="undo" type="image" src="client/img/undo.png" width="32" height="32"/>
            <br>
            <div class="colorcontainer"><input class="colorbutton" id="blackbutton" type="button" style="background:black; width:46px; height:46px;"/></div>
            <div class="colorcontainer"><input class="colorbutton" id="whitebutton" type="button" style="background:white;"/></div>
            <div class="colorcontainer"><input class="colorbutton" id="redbutton" type="button" style="background:red;"/></div>
            <div class="colorcontainer"><input class="colorbutton" id="yellowbutton" type="button" style="background:yellow;"/></div>
            <div class="colorcontainer"><input class="colorbutton" id="greenbutton" type="button" style="background:green;"/></div>
            <div class="colorcontainer"><input class="colorbutton" id="bluebutton" type="button" style="background:blue;"/></div>
        </div>
    </div>

    <div id="chatbox">
        <div id="messagebox">
        </div>
        <div id="inputbox">
            <input type="text" id="guessinput"/>
        </div>
    </div>
</div>

<div id="entergamebox">
    <a href="/">
        <img src="client/img/logo.png"/><br>
    </a>
    <input class="myinput" id="nameinput" type="text" placeholder="Name"/><br>
    <input class="mybutton" id="enterguestbutton" type="button" value="Enter as guest"/>
    <a href="/login">
        <input class="mybutton" id="gotologinbutton" type="button" value="Login"/>
    </a>
    <a href="/register">
        <input class="mybutton" id="gotoregisterbutton" type="button" value="Register"/>
    </a>
</div>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="client/game.js"></script>
