<div>
    <center>
        <a href="/">
            <img src="client/img/logo.png"/><br>
        </a>
        <span class="mylabel">Username:</span> <input class="myinput" type="text"/><br>
        <span class="mylabel">Password:</span> <input class="myinput" type="password"/><br>
        <span class="mylabel">Email:</span> <input class="myinput" type="text"><br>
        <input class="mybutton" id="loginbutton" type="button" value="Register"/><br>
        <span class="mylabel">Already have an account? </span>
        <a href="/login">
            <input class="mybutton" id="gotologinbutton" type="button" value="Login"/>
        </a>
    </center>
</div>
